api-2-server/src/main/resources/wsdl/indusweb/IndusWebServiceSoap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.--><xs:schema version="1.0" targetNamespace="https://indus/web/service.soap/" xmlns:tns="https://indus/web/service.soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="processIndusWebServiceReq" type="tns:processIndusWebServiceReq"/>
  <xs:element name="processIndusWebServiceReqResponse" type="tns:processIndusWebServiceReqResponse"/>
  <xs:complexType name="processIndusWebServiceReq">
    <xs:sequence>
      <xs:element name="inputRequest" type="xs:string" form="qualified" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="processIndusWebServiceReqResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>